body {
    display: flex;
    flex-direction: column;
}

#workspace {
    flex-grow: 1;
    display: inline;
}

.hpanel {
    z-index: 0;
    background-color: rgb(230, 230, 230);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);
}

.entry-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.entry {
    flex-grow: 1;
    min-width: 4vw;
    height: 3vh;

    background: rgb(150, 150, 150);

    font-family: sans-serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    line-height: 3vh;
    color: black;

    box-shadow: inset 0 -0.4vh 0.1vh -0.3vh rgba(252, 104, 42, 0.20);

    transition: all 200ms ease-in-out;
}

.entry-removed {
    opacity: 0;
}

.entry-focus {
    box-shadow: inset 0 -0.4vh 0.1vh -0.3vh rgba(42, 190, 252, 1);
    background: rgb(230, 230, 230);
}

.entry:hover:not(.entry-focus) {
    box-shadow: inset 0 -0.4vh 0.1vh -0.3vh rgba(252, 104, 42, 0.60);
    background: rgb(210, 210, 210);
    transition: all 150ms linear;
}

.menu-button {
    min-height: 3vh;
    height: 3vh;
    min-width: 3vh;
    width: 3vh;
    background: url(menu.svg) no-repeat center;
    background-size: 2vh 2.5vh;
    transition: all 200ms ease-in-out;

    position: relative;
}

.menu-button:hover {
    border-radius: 0.5vh;
    background-color: rgb(200, 200, 200);
    transition: all 200ms ease-out;
}

.menu-button-active {
    border-radius: 0.5vh;
    background: rgb(200, 200, 200) url(menu-active.svg) no-repeat center;
    background-size: 2vh 2.5vh;

    transition: all 200ms ease-out;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;

    right: 0.3vh;
    top: 3.50vh;

    width: 30vh;
    height: calc(100% - 4vh);

    border-radius: 0.5vh;
    opacity: 0;
    background: rgb(220, 220, 220);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);

    transition: all 200ms ease-in-out;
}

.menu-active {
    opacity: 1;
    transition: all 200ms ease-in-out;
}

.menu-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.menu-triangle-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    
    right: 1vh;
    top: 2.5vh;

    border-bottom: 1vh solid rgb(220, 220, 220);
}

.search-container {
    margin: 2vh;
    display: flex;

    border-radius: 2vh;
    background: rgb(150, 150, 150);
}

.search-icon {
    margin: 0.25vh;
    min-height: 2vh;
    height: 2vh;
    min-width: 2vh;
    width: 2vh;

    background: url(search.svg) no-repeat center;
    background-size: 2vh 2vh;
}

.search-input {
    background: transparent;
    width: 100%;
    border: 0 black;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    font-family: sans-serif;
    color: white;
}

input::placeholder {
  color: white;
  opacity: 1;
}