.idea/
.github/
.git/
.gitattributes
.gitignore
LICENSE
README.md
.yarn/cache/
.yarn/install-state.gz
libs/compositor-proxy-generator/node_modules/
libs/compositor-proxy-generator/.gitignore
libs/compositor-proxy-generator/LICENSE
libs/xtsb/node_modules/
libs/xtsb/dist/
libs/xtsb/xcbgen/
libs/xtsb/test/
libs/xtsb/protocol/
libs/xtsb/.prettierrc.js
libs/xtsb/LICENSE
libs/xtsb/README.md
packages/compositor-proxy/build/
packages/compositor-proxy/dist/
packages/compositor-proxy/node_modules/
packages/compositor-proxy/types/
packages/compositor-proxy/.eslintrc.js
packages/compositor-proxy/.prettierrc.js
packages/compositor-proxy/jest.config.js
packages/compositor-proxy-cli/dist/
packages/compositor-proxy-cli/node_modules/
packages/compositor-proxy-cli/.eslintrc.js
packages/compositor-proxy-cli/.prettierrc.js
packages/compositor-proxy-cli/.gitignore
packages/compositor-proxy-cli/example-applications.json
