.top-panel {
    z-index: 1;
    background-color: #f2f2f2;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 3.7vh;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);
}
