/*
Copyright 2019 Erik De Rijcke

This file is part of Greenfield.

Greenfield is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Greenfield is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Greenfield.  If not, see <https://www.gnu.org/licenses/>.
 */
@import url(https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css);
@import url(https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text);

#logo {
    color: rgb(50, 50, 50);
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 2.5em;
    text-align: center;
    margin: 1em;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(220, 220, 220);
    z-index: 99999;
    pointer-events: auto;
    opacity: 1;
}

#overlay.off {
    opacity: 0;
    transition: opacity 1s linear;
    pointer-events: none;
}
