dist
node_modules
npm-debug.log
build
package/compositor-proxy
package/libproxy-encoding.so
package/libwayland-server.so.0
package/libwestfield.so
example-apps
README.md
docker-compose.yml
x264_2pass.log
x264_2pass.log.temp
.idea