body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

canvas {
    will-change: transform, contents, display;
    transform-origin: top left;
    pointer-events: none;
    position: absolute;
}

.inputRegion {
    will-change: transform;
    transform-origin: top left;
    position: absolute;
    transform: inherit;
}