body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
}

#workspace {
    z-index: -65535;
}

canvas {
    will-change: transform, contents, display;
    transform-origin: top left;
    pointer-events: none;
    position: absolute;
}

.inputRegion {
    transform-origin: top left;
    position: absolute;
    display: inline-block;
    transform: inherit;
}