@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.entry {
    flex-grow: 1;
    min-width: 75px;
    max-width: 20vw;
    height: 4vh;
    background: #f2f2f2;
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    line-height: 4vh;
    color: #565656;
    transition: all 150ms ease-in-out;
}

.entry-removed {
    opacity: 0;
}

.entry-focus {
    box-shadow: inset 0 -0.6vh 0 -0.15vh rgba(42, 190, 252, 1);
    background: #fffafa;
}

.entry:hover:not(.entry-focus) {
    background: rgb(210, 210, 210);
    transition: all 150ms ease-in-out;
}