.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    z-index: 99999;
    pointer-events: auto;
    opacity: 1;
}

.overlay.off {
    opacity: 0;
    transition: opacity 300ms ease-in;
    pointer-events: none;
}