/*
Copyright 2019 Erik De Rijcke

This file is part of Greenfield.

Greenfield is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Greenfield is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Greenfield.  If not, see <https://www.gnu.org/licenses/>.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:500");

body {
    display: flex;
    flex-direction: column;
}

#workspace {
    flex-grow: 1;
    display: inline;
    background-image: url(/pattern_light.png);
    background-size: auto;
    background-repeat: repeat;
    z-index: 0;
    position: relative;
}

.hpanel {
    z-index: 1;
    background-color: #fffafa;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 3.7vh;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);
}

.entry-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.entry {
    flex-grow: 1;
    min-width: 75px;
    max-width: 20vw;
    height: 4vh;
    background: #fffafa;
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    line-height: 4vh;
    color: #565656;
    transition: all 300ms ease-in-out;
}

.entry-removed {
    opacity: 0;
}

.entry-focus {
    box-shadow: inset 0 -0.6vh 0.1vh -0.3vh rgba(42, 190, 252, 1);
    background: #fffafa;
}

.entry:hover:not(.entry-focus) {
    background: rgb(210, 210, 210);
    transition: all 150ms linear;
}

input::placeholder {
    color: white;
    opacity: 1;
}

.fadeToUnresponsive {
    filter: grayscale(0.9) brightness(0.6) contrast(1.3) blur(1px);
    transition: filter 2000ms linear;
}